Simple-JAXWS/WebContent/WEB-INF/MiClaroAPIImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://miclaro.webservices.prtc.com/" name="MiClaroAPIImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://miclaro.webservices.prtc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://miclaro.webservices.prtc.com/" schemaLocation="MiClaroAPIImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="dslInformationQualification">
    <part name="arg0" type="tns:phoneInformation"/>
  </message>
  <message name="dslInformationQualificationResponse">
    <part name="return" type="tns:responseDslInformation"/>
  </message>
  <message name="MiClaroAPIException">
    <part name="fault" element="tns:MiClaroAPIException"/>
  </message>
  <message name="adaDmaxPackageChange">
    <part name="arg0" type="tns:adaServiceAssuranceParams"/>
  </message>
  <message name="adaDmaxPackageChangeResponse">
    <part name="return" type="tns:responseData"/>
  </message>
  <portType name="MiClaroAPI">
    <operation name="dslInformationQualification">
      <input message="tns:dslInformationQualification"/>
      <output message="tns:dslInformationQualificationResponse"/>
      <fault message="tns:MiClaroAPIException" name="MiClaroAPIException"/>
    </operation>
    <operation name="adaDmaxPackageChange">
      <input message="tns:adaDmaxPackageChange"/>
      <output message="tns:adaDmaxPackageChangeResponse"/>
      <fault message="tns:MiClaroAPIException" name="MiClaroAPIException"/>
    </operation>
  </portType>
  <binding name="MiClaroAPIImplPortBinding" type="tns:MiClaroAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="dslInformationQualification">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://miclaro.webservices.prtc.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://miclaro.webservices.prtc.com/"/>
      </output>
      <fault name="MiClaroAPIException">
        <soap:fault name="MiClaroAPIException" use="literal"/>
      </fault>
    </operation>
    <operation name="adaDmaxPackageChange">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://miclaro.webservices.prtc.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://miclaro.webservices.prtc.com/"/>
      </output>
      <fault name="MiClaroAPIException">
        <soap:fault name="MiClaroAPIException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MiClaroAPIImplService">
    <port name="MiClaroAPIImplPort" binding="tns:MiClaroAPIImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

